@charset "UTF-8";

img{
    position: fixed;
    top: 0;
    left: 0;
}

label.text{
	display: block;
	width:150px;
	float:left;
	text-align: center;
}

label, input{
	margin-bottom:4px;
}

body {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */

}

input.submit{
	float: right;
}

fieldset{
	border-radius: 10px;
	border-color: blue;
}

p{
	color:red;
}


